.mos-testimonial-wrapper .nav.nav-tabs {
    margin-bottom: 0;
}
.mos-testimonial-wrapper .nav.nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
}
.mos-testimonial-wrapper .nav.nav-tabs li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #eaeaea;
}
.mos-testimonial-wrapper .nav.nav-tabs li.active a {
    background-color: #ffffff;
    box-shadow: none;
    outline: none;
}
.mos-testimonial-wrapper .tab-con {
    padding: 30px;
    background-color: #ffffff;
}
.gruop-container {
    display: table;
    width: 100%;
}
.group-unit {
    width: 100%;
    max-width: 400px;
    float: left;
    padding: 0 5px; 
}
.group-unit td {
    min-width: 100px;
}